
<footer class="footer">
    <div class="footer-container">
        <div class="footer-main-container">
            <div class="footer-contact">
                <p style="color: black;">CONTACT</p>
                <a class="contact-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
            </div>
            <div class="footer-address">
                <p style="color: black;">ADDRESS</p>
                <a class="address-link" href="P2MR+78 Salt Lake City, Utah, Stany Zjednoczone">1678 S. Pioneer Road <br> Salt Lake City UT <br>
                    84104</a>
            </div>
        </div>
    </div>
</footer>
